<!-- SPINNER -->
<div class="row h-100" *ngIf="isFetching">
    <div class="col d-flex justify-content-center align-self-center">
        <i class="fas fa-spinner fa-spin fa-4x"></i>
    </div>
</div>
<!-- WEATHER -->
<div class="row" [class.d-none]="isFetching">
    <div class="col">
        <div class="row mb-3">
            <!-- SELECTED DATE-->
            <div class="col">
                <wea-selected-date></wea-selected-date>
            </div>
            <!-- SELECTED UNITS -->
            <div class="col d-flex justify-content-end">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioUnits" [(ngModel)]="units.value" (ngModelChange)="unitsChanged($event)">
                    <label class="btn btn-outline-primary" ngbButtonLabel>
                        <input ngbButton type="radio" [value]="metricUnit">
                        <span>{{ getTemperatureChar(metricUnit) }}</span>
                    </label>
                    <label class="btn btn-outline-primary" ngbButtonLabel>
                        <input ngbButton type="radio" [value]="imperialUnit">
                        <span>{{ getTemperatureChar(imperialUnit) }}</span>
                    </label>
                </div>
            </div>
        </div>
        <!-- SELECTED WEATHER -->
        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                <wea-selected-weather [units]="units"></wea-selected-weather>
            </div>
        </div>
        <!-- TABS -->
        <div class="row mb-3">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>Forecast 16 days</h4>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a routerLink="wind" routerLinkActive="active" class="nav-link">Wind</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="temperature" routerLinkActive="active" class="nav-link">Temperature</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="presure" routerLinkActive="active" class="nav-link">Presure</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="humidity" routerLinkActive="active" class="nav-link">Humidity</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>