<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom mb-4">
        <a class="navbar-brand" href="#">
            <i class="far fa-sun"></i>
            <span>Forecast</span>
        </a>
        <button class="navbar-toggler hidden-lg-up" type="button" (click)="isCollapsed = !isCollapsed">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <form class="form-inline ml-auto my-lg-0" id="searchCityForm" name="searchCityForm">
                <input class="form-control mr-sm-2 w-100" type="text" id="city" name="city" [(ngModel)]="city" (ngModelChange)="cityChanged($event)"
                    [ngbTypeahead]="getTypeaheadHandler()" [resultFormatter]="formatter" [inputFormatter]="formatter" placeholder="Search city by name">
                <span *ngIf="isSearching">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </form>
        </div>
    </nav>
</header>

<main class="d-flex h-100">
    <div class="container h-100">
        <div class="row h-100" [class.d-none]="isAppRoute">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="row h-100" *ngIf="isAppRoute">
            <div class="col d-flex justify-content-center align-self-center">
                <h3>Select the city</h3>
            </div>
        </div>
    </div>
</main>