:host {
    display: flex;
    height: 100%;
    flex-flow: column;
    main {
        flex-grow: 2;
    }
    #searchCityForm {
        position: relative;
        &>span {
            position: absolute;
            right: 20px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            width: 50%;
        }
        @media screen and (min-width: 1200px) {
            width: 25%;
        }
    }
}